.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding: 30px;
  background-color: white;
  justify-content: center;
  border: 1px solid #ccc; /* Borde inicial */
  border-radius: 8px; /* Bordes redondeados */
  height: 350px;
}

h1{
    text-align: center;
}

.form-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  
}

.form-input:focus {
  border-color: #003366; /* Cambia el color del borde */
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5); /* Agrega un efecto de sombra */
  outline: none; /* Elimina el contorno predeterminado del navegador */
}

.form-button {
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #011d3a;
}


